*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    padding: 0;
    margin: 0;
}
:root{
    --pink: #fecfef;
    --violet: #a01318;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.outerBox{
    width: 400px;
    padding: 25px 30px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightbshadow);
}
.top-bar{
    font-size: 30px;
    color: var(--lightblack);
    text-align: center;
}
.img-area{
    width: 100%;
    height: 256px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--lightbshadow);
}
.img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 30px;
}
.song-details p{
    color: var(--lightblack);
}
.song-details .name{
    font-size: 1.5em;
}
.song-details .artist{
    font-size: 1.2em;
    opacity: 0.9;
}

.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 10%;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}
/* Circle on the progress bar */
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}
.progress-area .song-timer{
    margin-top: 2px;
}
.song-timer span{
    font-size: 13px;
    color: var(--lightblack);
}
.controls{
    margin: 40px 0 5px 0;
}
.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}
.controls #prev{
  margin-right: -13px;
}
.controls #next{
  margin-left: -13px;
}
.controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--darkwhite) 0%, var(--white) 100%);
    box-shadow: 0px 0px 5px var(--pink);
}
.header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
}
.header .row i{
    cursor: default;
}
.header .row span{
    margin-left: 5px;
}
.header #close{
    font-size: 22px;
    color: var(--lightblack);
}
.outerBox i{
    cursor: pointer;
}
.music-list2{
    background: var(--white);
    width: 300px;
    pointer-events: auto;
    padding:1em;
}
.music-list2 ul{
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}
.music-list2 ul::-webkit-scrollbar{
    width: 0px;
}
.music-list2 ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--lightblack);
    border-bottom: 1px solid #E5E5E5;
}
.music-list2 ul li:last-child{
    border-bottom: 0px;
}
.music-list2 ul li .row span{
    font-size: 17px;
}
.music-list2 ul li .row p{
    opacity: 0.9;
}
.music-list2 .header, .music-list2 ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li .audio-duration{
    font-size: 16px;
}
ul li.playing{
    pointer-events: none;
    color: var(--violet);
}